:root{
  --background-initial: url("../images/cave.webp");
  --secondary-background: url("../images/cave2.png");
  --background-years: url('../images/cave3.png');
  --symbol-years: url('../images/symbol.png');

}

*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  user-select: none;
}

::-webkit-scrollbar {
  width: 0px;
}

body{
  transition: 2s;
  overflow: hidden;
  background-color: #000;
  font-family: 'Darker Grotesque', sans-serif;

}

h2{
  color: #fff;
  font-size: 2rem;
  z-index: 100;
}

.container{
  max-width: 1280px;
  padding: 0 2%;
  margin: 0 auto;
}

#header-content{
  height: 100%;
  display: flex;
  gap: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#header-content #logo-dark{
  max-width: 450px;
  mix-blend-mode: screen;
  transition: 1s;
} 

#header-content p{
  color: white;
  font-size: 1.5rem;
  text-shadow: 3px 3px 3px black;
  max-width: 650px;
  z-index: 100;
}

.page-display{
  display: none !important;
}

.page-opacity{
  opacity: 0 !important;
}

.entry-effect{
  transform: scale(5);
  filter: brightness(0);
}

#volume{
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: 1s;
}

#volume img{
  font-size: 1.2rem;
  color: white;
  width: 25px;
  height: 25px;
  filter: invert(100);
}

/* HEADER */

header{
  width: 100%;
  height: 100vh;
  position: relative;
}

header::before{
  content: "";
  width: 100%;
  height: 100%;
  filter: brightness(0.5) blur(4px);
  position: absolute;
}

header#page-initial::before{
  content: '';
  background: var(--background-initial);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

#height-animation{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #000;
}

/* SECONDARY HEADER */

header#secondary-page{
  height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
}

header#secondary-page::before{
  background: var(--secondary-background);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: brightness(0.8) blur(4px);
  transition: 1s;
}

#secondary-text-1,
#secondary-text-2{
  transition: 3s;
}

.rotate-text{
  transform: rotateX(180deg) rotateY(180deg);
}

#secondary-text-1.text-scale{
  transform: rotateX(180deg) rotateY(180deg) scale(.5);
}

#secondary-text-2.text-scale{
  transform: scale(.5);
}
.secondary-rotate-page{
  animation: secondary-rotate 3.3s forwards;
  -webkit-animation: secondary-rotate 3.3s forwards;
}

#secondary-page #header-content{
  justify-content: center;
  gap: 40%;
  padding: 5% 0;
}

.word{
  display: inline-block;
}

.letter-span{
  display: inline-block;
}

.invert-letter{
  animation: flip 7s;
}

#header-content .button-content {
  width: 250px;
  height: 60px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

#header-content button#switch-page{
  width: 230px;
  height: 50px;
  font-size: 1.5rem;
  font-weight: normal;
  background-color: #50505067;
  border-radius: 10px;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: 1s;
  position: relative;
  animation: opacity-button 5s;
}

#header-content .button-content:hover > button#switch-page{
  background-color: #ffea047c;
  color: #000;
  transform: scale(1.1);
}

button span {
	display: inline-block;
	text-shadow: 0 0 0 whitesmoke;
	animation: smoky 3s both;
}

button span:nth-child(even) {
	animation-name: smoky-mirror;
}


/* MAIN */

  /* sECTION YEARS */
section#section-years{
  width: 100%;
  height: 100vh;
  position: relative;
}

section#section-years::before{
  content: "";
  width: 100%;
  height: 100%;
  background-image: var(--background-years);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  filter: brightness(0.9) blur(4px);
  transition: .5s;
}

.y-2019{
  --background-years: url('../images/2019.jpg');
  transition: .5s;
}

.y-1986{
  --background-years: url('../images/1986.jpg');
  transition: .5s;
}

.y-1953{
  --background-years: url('../images/1953.jpg');
  transition: .5s;
}

#section-years #header-content{
  gap:0;
}

#section-years h2#text-years{
  padding: 50px 0;
  position: absolute;
  top: 0;
}

#section-years #symbol-years{
  position: relative;
}

#section-years #symbol-years img{
  width: 100%;
  max-width: 350px;
  transition: .7s;
}

#section-years #symbol-years button{
  width: 28vw;
  height: 28vw;
  max-width: 100px;
  max-height: 100px;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  position: absolute;
}

#section-years #symbol-years button#year-2019{
  transform: translate(-50%, -50%);
  top: 30%;
  left: 50%;
}

#section-years #symbol-years button#year-1986{
  top: 59%;
  left: 59%;
}

#section-years #symbol-years button#year-1953{
  top: 60%;
  left: 11%;
}

/* SIDE-2019 */
.section-face{
  width: 100%;
  height: 100vh;
}

section#side-2019::before{
  background-image: url('../images/letter.jpg');
}
section#side-1953::before{
  background-image: url('../images/agnes.jpg');
}
section#side-1986::before{
  background-image: url('../images/helgue.jpg');
}

.section-face::before{
  content: "";
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  filter: brightness(0.9) blur(4px);
  transition: .5s;
}

section.section-face #header-content{
  gap: 20px;
}

.section-face .arrow{
  width: 100%;
  max-width: 50px;
  z-index: 100;
  position: absolute;
  cursor: pointer;
  border-radius: 50%;
  transition: .5s;
  top: 50%;
  right: 0;
  margin: 2%;
  transform: translate(0, -50%);
  opacity: 0;
  transition: 2s;
  transition-delay: 4s;
}

.section-face .arrow.arrow-animation{
  opacity: 1;
}

.section-face .arrow:hover{
  background-color: rgba(255, 255, 255, 0.288);
}

.section-face #arrow-1953{
  transform: translate(0, -50%) rotate(-90deg);
}

.section-face #arrow-1986{
  transform: translate(0, -50%) rotate(90deg);
}

/* FACES */
.face{
  position: absolute;
}

.face-front {
  transform: translateZ(50vw);
}

.face-front-top {
  transform: translateZ(50vh);
}

.face-right{
  transform: rotateY(90deg) translateZ(49vw);
}

.face-top{
  transform: rotateX(90deg) translateZ(49vh);
}

.face-left{
  transform: rotateY(-90deg) translateZ(49vw);
}

.cube {
  transform-style: preserve-3d;
  transition: 4s;
}

/* KEYFRAMES */

@keyframes secondary-rotate {
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(180deg);
  }
}

@keyframes flip {
  0%, 100%{
    transform: rotateY(0);
  }

  50%{
  transform: rotateY(-180deg);
  }
}

@keyframes opacity-button{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 100%;
  }
}

@keyframes smoky {
  0% {
    transform: translate3d(1rem, -15rem, 0) rotate(-40deg) skewX(70deg) scale(1.5);
    text-shadow: 0 0 20px whitesmoke;
    opacity: 0;
  }
	100% {
		text-shadow: 0 0 40px whitesmoke;
	}
}

@keyframes smoky-mirror {
  0% {
    transform: translate3d(1rem, -15rem, 0) rotate(-40deg) skewX(-70deg) scale(2);
		text-shadow: 0 0 20px whitesmoke;
		opacity: 0;
	}
  100% {
    text-shadow: 0 0 40px whitesmoke;
  }
}

@keyframes rotate-symbol {
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(10800deg);
  }
}